@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Regular'),
        local('FiraSans-Regular'),
        url('Fira_Sans.ttf') format('truetype')
    ;
}
@-webkit-keyframes blink-new {
    0% { background-color: #006D59; }
    25%   { background-color: #00d1b2; }
    50% { background-color: #006D59; }
    75% { background-color: #00d1b2; }
    99% { background-color: #006D59; }
    100% { background-color: #00d1b2; }
}
@-moz-keyframes blink-new {
     0% { background-color: #006D59; }
    25%   { background-color: #00d1b2; }
    50% { background-color: #006D59; }
    75% { background-color: #00d1b2; }
    99% { background-color: #006D59; }
    100% { background-color: #00d1b2; }
}
@keyframes blink-new {
     0% { background-color: #006D59; }
    25%   { background-color: #00d1b2; }
    50% { background-color: #006D59; }
    75% { background-color: #00d1b2; }
    99% { background-color: #006D59; }
    100% { background-color: #00d1b2; }
}

body {
    font-family: 'Fira Sans', 'Helvetica', sans-serif;
}
body,
button {
    text-transform: uppercase;
}
.max-width-5 {
    max-width: 85rem;
}
h1 {
    text-align: center;
}
.wrap {
    margin-bottom: 20px;
    padding: 0 15px;
}
.button-sound {
    padding: 20px 10px;
    background-color: #00d1b2;
    color: #FFF;
    box-shadow: 0 4px 0 #168e7c;

    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    border: 1px solid #00d1b2;
    border-radius: 3px;
    font-size: 1rem;
    height: 3em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-left: 0.75em;
    padding-right: 0.75em;
    word-wrap: break-word;
}
.button-sound:hover {
    box-shadow: 0 6px 4px #168e7c;
}
.button-sound.new {
    webkit-animation: blink-new 1s;
    -moz-animation:    blink-new 1s;
    animation:         blink-new 1s;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
}

#button-random {
    padding: 20px 10px;
    background-color: #49B5E8;
    color: #FFF;
    box-shadow: 0 6px 0 #4f0002;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 3px;
    width: 100%;
    font-size: 1rem;
    margin-right: 10px;
}

#button-cron {
    padding: 20px 10px;
    background-color: #1c9904;
    color: #FFF;
    box-shadow: 0 6px 0 #4f0002;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 3px;
    width: 100%;
    font-size: 1rem;
    margin-right: 10px;
}

#button-cron.cron-enabled {
    background-color: #1c9904;
}

#button-cron.cron-disabled {
    background-color: #b5211b;
}

#button-record {
    padding: 20px;
    background-color: #49B5E8;
    color: #FFF;
    box-shadow: 0 6px 0 #398AB5;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 3px;
    width: 100%;
    font-size: 1rem;
}

#search {
    line-height: 1.5em;
    width: 100%;
    font-size: 1.5em;
    border-radius: 3px;
    border: 1px solid #000;
    color: #000;
}

.alert {
    padding: 20px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.alert.success {
    background-color: #168e7c
}
.alert.error {
    background-color: #b5211b;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    position: relative;
}

.modal-close {
    color: #000;
    font-size: 5em;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: 10px;
    cursor: pointer;
}

/* RECORDER */
#start,
#stop,
#upload {
    padding: 20px;
    background-color: #49B5E8;
    color: #FFF;
    box-shadow: 0 6px 0 #398AB5;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 3px;
    font-size: 1rem;
    text-decoration: none;
}
#sound-name {
    padding: 20px;
    width: 100%;
}
#recording {
    display: none;
}
