{% extends 'base.html.twig' %}
{% import 'macro/sound_button.html.twig' as macro %}

{% set time = app.request.query.get('cron')|default(cron_time) %}

{% block content %}
    <div id="top" class="flex flex-wrap px2">
        <div id="upload-message" class="col-12"></div>
        <div id="result-message" class="col-12"></div>
        <div class="col-6 sm-col-3 md-col-3 flex items-center justify-start">
            <button id="button-random" type="button" class="js-play-random justify-center bold" title="Jouer un son au hasard">
                <img src="assets/images/random.svg" width="20" alt="Random">
            </button>
            <button id="button-cron" type="button" class="js-cron justify-center bold cron-disabled" data-cron-time="{{ time }}" title="Jouer un son toutes les {{ time }} minutes">
                <img src="assets/images/history.svg" width="20" alt="Cron">
            </button>
            <button id="button-record" type="button" class="justify-center bold">
                <img src="assets/images/micro.svg" width="20" alt="Enregistrer" title="Enregistrer un son">
            </button>
        </div>

        <div class="col-12 sm-col-6 md-col-5">
            <h1 class="px2 py3">La boite à beauf</h1>
        </div>
        <div class="col-12 md-col-3 flex items-center">
            <input id="search" class="js-search py2 px1" placeholder="Chercher..." autofocus>
        </div>
    </div>
    <div id="sound-container" class="flex flex-wrap"{{ onPi ? ' data-player-url='~path('play_on_pi') }}>
        {% for sound in sounds %}
            {{ macro.soundButton(sound) }}
        {% endfor %}
    </div>

    {% include 'default/record_modal.html.twig' %}
    <div class="flex flex-wrap px2">
        <div class="col-12 h6">Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
{% endblock %}

{% block js %}
    <script src="/assets/lib/jquery-3.2.1.min.js"></script>
    <script src="/assets/common.js"></script>
    {% if onPi %}
        <script src="/assets/play-on-pi.js"></script>
    {% else %}
        <script src="/assets/lib/soundjs-0.6.2.min.js"></script>
        <script src="/assets/play.js"></script>
    {% endif %}
    <script src="/assets/record.js"></script>
{% endblock %}
