<div id="record-modal" class="modal">
    <div class="modal-content">
        <div class="flex flex-wrap">
            <div class="col-12 border-box">
                <h3>Enregistrer un son</h3>
            </div>
            <div class="col-12 sm-col-6 border-box px2 pb1">
                <a href="#" id="start" class="flex items-center center block justify-center">Start</a>
            </div>
            <div class="col-12 sm-col-6 border-box wrap">
                <a href="#" id="stop" class="flex items-center center block justify-center">Stop</a>
            </div>
            <div class="col-12 border-box wrap">
                <label for="sound-name" class="bold">Nom du fichier</label>
                <input id="sound-name" placeholder="Nom du fichier">
            </div>
            <div class="col-12 border-box wrap">
                <a href="#" id="upload" class="flex items-center center justify-center">Upload</a>
            </div>
            <span class="modal-close" title="Fermer">&times;</span>
            <div id="recording" class="col-12">
                Recording
                <img src="assets/recording.gif">
            </div>
        </div>
    </div>
</div>
