@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Regular'),
        local('FiraSans-Regular'),
        url('Fira_Sans.ttf') format('truetype')
    ;
}


body {
    font-family: 'Fira Sans', 'Helvetica', sans-serif;
}
.max-width-5 {
    max-width: 85rem;
}
h1 {
    text-align: center;
}
.wrap {
    margin-bottom: 20px;
    padding: 0 15px;
}
a {
    padding: 20px 10px;
    background-color: #00d1b2;
    color: #FFF;
    box-shadow: 0 4px 0 #168e7c;

    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    border: 1px solid #00d1b2;
    border-radius: 3px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 3em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-left: 0.75em;
    padding-right: 0.75em;
    word-wrap: break-word;
}
a:hover {
    box-shadow: 0 6px 4px #168e7c;
}

#button-random {
    padding: 20px 10px;
    background-color: #b5211b;
    color: #FFF;
    box-shadow: 0 6px 0 #4f0002;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 3px;
    width: 91%;
    font-size: 1rem;
}
